

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}
header {
  display: flex;

  flex-flow: column nowrap;
  align-items: center;
}

.big {
  display: none;
}

.big-last {
  display: none;
}

.top {
  width: 113vw;
}

.top-last {
  position: absolute;
  z-index: -1;
  top: 133vw;

  width: 114vw;
  height: 438vw;
}

.tupe-first {
  display: block;

  padding-top: 9vw;
  padding-left: 10vw;

  text-align: center;

  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 11vw;
}

.card {
  display: flex;

  margin: 1vw 14vw;

  align-items: center;
}

.card p {
  margin-left: 1vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 5vw;
}

h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25vw;
  font-weight: 600;
}

h3 {
  height: 11vw;
  padding-top: 8vw;
  padding-left: 25vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 7vw;
  font-weight: 700;
}

h4 {
  height: 11vw;
  padding-top: 10vw;
  padding-left: 25vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 7vw;
  font-weight: 700;
}

.tupe1 p {
  width: 62vw;
  margin-top: 4vw;
  margin-left: 25vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 5vw;
}

.tupe2 p {
  width: 62vw;
  margin-top: 4vw;
  margin-left: 25vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 5vw;
}

.tupe3 p {
  width: 62vw;
  margin-top: 3vw;
  margin-left: 25vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 5vw;
}

.tupe4 p {
  width: 62vw;
  margin-top: 4vw;
  margin-left: 25vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 5vw;
}

a {
  color: black;
}


@media (min-width: 321px) {

  .top-last {
    top: 98vw;

    width: 113vw;
    height: 420vw;
  }

  .tupe-first {
    padding-left: 4vw;

    text-align: center;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 11vw;
  }

  .card {
    display: flex;

    margin: 2vw 16vw;

    align-items: center;
  }

  .card p {
    margin-left: 3vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4vw;
  }

  h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 21vw;
    font-weight: 600;
  }

  h3 {
    height: 7vw;
    margin-left: 3vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 7vw;
    font-weight: 700;
  }

  h4 {
    width: 62vw;
    margin-top: -2vw;
    margin-left: 3vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 7vw;
  }

  .tupe1 p {
    width: 54vw;
    margin-top: 6vw;
    margin-left: 28vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4vw;
  }

  .tupe2 p {
    width: 54vw;
    margin-top: 6vw;
    margin-left: 28vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4vw;
  }

  .tupe3 p {
    width: 53vw;
    margin-top: 6vw;
    margin-left: 28vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4vw;
  }

  .tupe4 p {
    width: 54vw;
    margin-top: 6vw;
    margin-left: 28vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4vw;
  }

  .tupe2 {
    margin-top: -1vw;
  }

  .tupe3 p {
    width: 53vw;
    margin-top: 6vw;
    margin-left: 28vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4vw;
  }
}


@media (min-width: 769px) {

  .top {
    display: none;
  }

  .top-last {
    position: absolute;
    z-index: -1;
    top: -196vw;

    width: 102vw;
  }

  .big {
    display: block;

    width: 101vw;
    height: auto;
  }

  .tupe-first {
    height: 18vw;
    margin-top: -7vw;
    margin-left: -6vw;

    text-align: center;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 10vw;
  }

  .left {
    display: inline-block;

    min-width: 51vw;
    max-width: 51vw;
    margin-bottom: inherit;
    margin-left: 3vw;
  }

  .raite {
    display: block;

    max-width: 51vw;
    margin-top: -83.9vw;
    margin-left: 45vw;
  }

  .card {
    display: flex;

    margin: -1vw 2vw;

    align-items: center;
  }

  .card p {
    margin-left: 3vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 3vw;
    line-height: 0.95;
  }

  h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15vw;
    font-weight: 600;
  }

  h4 {
    margin-top: -5vw;
    margin-left: -13vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4vw;
    font-weight: 700;
  }

   h3 {
    margin-left: -13vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4vw;
    font-weight: 700;
  }

  .tupe1 p {
    width: 42vw;
    margin-top: -1vw;
    margin-left: 12vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 3vw;
    line-height: 0.95;
  }

  .tupe4 p {
    width: 39vw;
    margin-top: 1vw;
    margin-left: 12vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 3vw;
    line-height: 0.95;
  }

  .tupe2 p {
    width: 40vw;
    margin-top: 3vw;
    margin-left: 12vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 3vw;
    line-height: 0.95;

  }

  .tupe3 p {
    width: 59vw;
    margin-top: 4vw;
    margin-left: 21vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 3vw;
    line-height: 0.95;
  }

  .tupe2 h3 {
    margin-top: -3vw;
  }

  .tupe3 {
    margin-top: -5vw;
  }

  .tupe3 h3 {
    margin-top: 3vw;
    margin-left: -4vw;

    font-size: 7vw;
  }

  .tupe3 br {
    display: none;
  }
}
