

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  overflow-x: hidden;
}
header {
  display: flex;

  flex-flow: column nowrap;
  align-items: center;
}

.big {
  display: none;
}

.big-last {
  display: none;
}

.top {
  width: 103vw;
}

.top-last {
      position: absolute;
      z-index: -1;
      top: 185px;

  width: 103vw;
}

.tupe-first {
  display: block;

  padding-top: 10vw;

  text-align: center;

  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 11vw;
}

.card {
  display: flex;

  margin: 1vw 14vw;

  align-items: center;
}

h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25vw;
  font-weight: 400;
}

.card p {
  margin-left: 1vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 5vw;
}

h3 {
  display: flex;

  height: 11vw;
  padding-top: 10vw;
  padding-left: 25vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 7vw;
  font-weight: 700;
}

.tupe2 p {
  width: 62vw;
  margin-top: 4vw;
  margin-left: 25vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 5vw;
}

.tupe3 p {
  width: 62vw;
  margin-top: 3vw;
  margin-left: 25vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 5vw;
}


@media (min-width: 321px) {

  .top-last {
    width: 103vw;
    height: 397vw;
        top: -15vw;
  }

  .tupe-first {
    display: flex;

    text-align: center;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 11vw;
  }

  .card {
    display: flex;

    margin: 2vw 13vw;

    align-items: center;
  }

  h2 {
   font-family: 'Ubuntu Condensed', sans-serif;
   font-size: 21vw;
   font-weight: 600;
  }

  .card p {
   margin-left: 3vw;

   font-family: 'Alegreya Sans', sans-serif;
   font-size: 4vw;
  }

 h3 {
   display: flex;

   height: 7vw;
   margin-left: 0vw;

   font-family: 'Alegreya Sans', sans-serif;
   font-size: 7vw;
   font-weight: 700;
}
.tupe2 {
  margin-top: -5vw;
}
.tupe2 p {
  width: 62vw;
  margin-top: 6vw;
  margin-left: 25vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 4vw;
}

.tupe3 p {
  width: 62vw;
  margin-top: 6vw;
  margin-left: 25vw;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 4vw;
}





}
@media (min-width: 769px) {
  .top {
    display: none;
   }

  .top-last {
    position: absolute;
    z-index: -1;
    top: -228vw;

   width: 100vw;
   }

  .big {
    display: block;

    width: 100vw;
    height: auto;
  }

  .left {
    display: inline-block;
    vertical-align: top;
    margin-left: 1vw;
    max-width: 51vw;
    min-width: 51vw;
    margin-bottom: inherit;
  }

  .raite {
    display: block;
    vertical-align: top;
    margin-left: 45vw;
    margin-top: -74vw;
    max-width: 51vw;
  }
.tupe-first {
  display: flex;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 10vw;
    margin-top: -7vw;
}

.card {
  display: flex;
    margin: -1vw 2vw;
    align-items: center;
}

h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
      font-size: 15vw;
      font-weight: 600;
}

.card p {
  margin-left: 3vw;
      font-family: 'Alegreya Sans', sans-serif;
      font-size: 3vw;
}

h3 {
  display: flex;
    height: 9vw;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4vw;
    font-weight: 700;
    margin-left: -13vw;
    margin-top: -2vw;
}



.tupe3{
margin-top: -5vw;
}

.tupe2 p {
  width: 42vw;
      margin-top: 1vw;
      margin-left: 12vw;
      font-family: 'Alegreya Sans', sans-serif;
      font-size: 3vw;
}

.tupe3 p {
  width: 42vw;
  margin-top: 3vw;
  margin-left: 12vw;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 3vw;
}
  }
}
@media (min-width: 1041px) {
  h1 {
   font-family: 'Yanone Kaffeesatz', sans-serif;
  }

 .top {
   display: none;
  }

 .top-last {
   display: none;
  }
 .big {
   display: flex;
 }

 .tupe-first {
   display: flex;

   text-align: center;

   font-size: 104px;
  }
}

@media (min-width: 1441px) {
  h1 {
   font-family: 'Yanone Kaffeesatz', sans-serif;
  }
 .tupe-first {
   display: flex;

   text-align: center;

   font-size: 104px;
  }
}
